.terraform
terraform*
*.retry
*sublime-workspace
.vagrant/
.venv
misc/openvpn/*
dh.pem
ta.key
modules/*
creds.yml
admin.conf
credentials
inventories/production/etcd/*
packer_cache
*.client.conf
kubeconfig
*.iso
*.qcow2
wg.conf
output/*
*local*
go.work.sum
