name: Deploy examples
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      example:
        description: the desired example (all for all examples)
        type: choice
        options:
          - default
          - with-rich-firewall-rules
          - all


jobs:
  init:
    name: Initialize global clusters variables
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: benjlevesque/short-sha@v2.2
        id: short-sha
        with:
          length: 12
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
    outputs:
      short-sha: ${{ steps.short-sha.outputs.sha }}

  default:
    needs: init
    name: Default cluster for ${{ needs.init.outputs.short-sha }}
    if: contains(fromJson('[]'), inputs.example) || github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reuse-test-clusters.yaml
    with:
      pulumi-stack: default-${{ needs.init.outputs.short-sha }}
      pulumi-config-source: examples/default.yaml
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
  with-rich-firewall-rules:
    needs: init
    name: The cluster with rich firewalls rules for ${{ needs.init.outputs.short-sha }}
    if: contains(fromJson('["all", "with-rich-firewall-rules"]'), inputs.example) || github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reuse-test-clusters.yaml
    with:
      pulumi-stack: with-rich-firewall-rules-${{ needs.init.outputs.short-sha }}
      pulumi-config-source: examples/with-rich-firewall-rules.yaml
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
