name: The cluster deployment for examples for long-living branches
on:
  push:
    branches:
      - main
      - preview
  workflow_dispatch:
    inputs:
      example:
        description: the desired example (all for all examples)
        type: choice
        options:
          - k3s-private-non-ha-simple
          - k3s-wireguard-non-ha-firewall-rules
          - k3s-wireguard-ha-no-taints
          - k3s-public-non-ha-with-defaults
          - k3s-public-ha-kube-addons
          - k3s-private-non-ha-upgrader
          - all


jobs:
  init:
    name: Initialize global clusters variables
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: benjlevesque/short-sha@v2.2
        id: short-sha
        with:
          length: 6
    outputs:
      short-sha: ${{ steps.short-sha.outputs.sha }}

  default:
    needs:
      - init
    name: The simple private cluster
    if: contains(fromJson('["all", "k3s-private-non-ha-simple"]'), inputs.example) || github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reuse-test-clusters.yaml
    with:
      pulumi-stack: k3s-private-non-ha-simple-${{ needs.init.outputs.short-sha }}
      pulumi-config-source: examples/k3s-private-non-ha-simple.yaml
      template: go/component
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
  with-rich-firewall-rules:
    needs: init
    name: The cluster with rich firewalls rules
    if: contains(fromJson('["all", "k3s-wireguard-non-ha-firewall-rules"]'), inputs.example) || github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reuse-test-clusters.yaml
    with:
      pulumi-stack: k3s-wireguard-non-ha-firewall-rules-${{ needs.init.outputs.short-sha }}
      pulumi-config-source: examples/k3s-wireguard-non-ha-firewall-rules.yaml
      open-kubeapi-for-public-net: true
      template: go/component
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
  ha-server-with-workload:
    needs: init
    name: The HA cluster with workload servers
    if: contains(fromJson('["all", "k3s-wireguard-ha-no-taints"]'), inputs.example) || github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reuse-test-clusters.yaml
    with:
      pulumi-stack: k3s-wireguard-ha-no-taint-${{ needs.init.outputs.short-sha }}
      pulumi-config-source: examples/k3s-wireguard-ha-no-taints.yaml
      template: go/component
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
  ha-server-kube-addons:
    needs: init
    name: The HA cluster with all kube addons enabled
    if: contains(fromJson('["all", "k3s-public-ha-kube-addons"]'), inputs.example) || github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reuse-test-clusters.yaml
    with:
      pulumi-stack: k3s-public-ha-kube-addons-${{ needs.init.outputs.short-sha }}
      pulumi-config-source: examples/k3s-public-ha-kube-addons.yaml
      open-kubeapi-for-public-net: true
      template: typescript
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
  simple:
    needs: init
    name: The simplest cluster with defaults
    if: contains(fromJson('["all", "k3s-public-non-ha-with-defaults"]'), inputs.example) || contains(fromJson('["refs/heads/preview", "refs/heads/main"]'), github.ref)
    uses: ./.github/workflows/reuse-test-clusters.yaml
    with:
      pulumi-stack: k3s-public-non-ha-with-defaults-${{ needs.init.outputs.short-sha }}
      pulumi-config-source: examples/k3s-public-non-ha-with-defaults.yaml
      template: typescript
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
  dev-with-upgrader:
    needs: init
    name: The cluster for k3s-upgrade-controller addon development
    if: contains(fromJson('["k3s-private-non-ha-upgrader", "all"]'), inputs.example)
    uses: ./.github/workflows/reuse-test-clusters.yaml
    with:
      pulumi-stack: k3s-private-non-ha-upgrader-${{ needs.init.outputs.short-sha }}
      pulumi-config-source: examples/k3s-private-non-ha-upgrader.yaml
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
