name: The reusable workflow for deploying clusters
run-name: Cluster ${{ inputs.pulumi-stack }} by @${{ github.actor }}

on:
  workflow_call:
    inputs:
      open-kubeapi-for-public-net:
        required: false
        type: boolean
        default: false
      pulumi-stack:
        required: true
        type: string
      pulumi-config-source:
        required: true
        type: string
      template:
        type: string
        default: go/library
    secrets:
      google-credentials:
        required: true
      hcloud-token:
        required: true
      github-token:
        required: true

jobs:
  deploy:
    name: Deploy Cluster
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      PULUMI_STACK: ${{ inputs.pulumi-stack }}
      PULUMI_CONFIG_SOURCE: ${{ inputs.pulumi-config-source }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/prepare-pulumi
        name: Prepare pulumi environment
        with:
          create-stack: true
          google-credentials: ${{ secrets.google-credentials }}
          template: ${{ inputs.template }}
      - name: Set open kubernetes api in public network
        if: inputs.open-kubeapi-for-public-net
        run: pulumi config set --path 'k8s.kube-api-endpoint.firewall.hetzner-public.allowed-ips[0]' 0.0.0.0/0
        working-directory: test-project
      - uses: actions/upload-artifact@v3
        with:
          name: pulumi-configuration-${{ env.PULUMI_STACK }}
          path: "test-project/Pulumi.${{ env.PULUMI_STACK }}.yaml"
      - name: Preview
        run: pulumi preview -s ${{ env.PULUMI_STACK }} -v=9 --color=always --logtostderr 2> preview.log
        working-directory: test-project
        env:
          HCLOUD_TOKEN: ${{ secrets.hcloud-token }}
          GITHUB_TOKEN: ${{ secrets.github-token }}
      - name: Up
        run: pulumi up -yf -s ${{ env.PULUMI_STACK }} -v=9 --color=always --logtostderr 2> up.log
        working-directory: test-project
        env:
          HCLOUD_TOKEN: ${{ secrets.hcloud-token }}
          GITHUB_TOKEN: ${{ secrets.github-token }}
      - name: Gather logs
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: pulumi-logs-${{ env.PULUMI_STACK }}
          path: "test-project/*.log"

  reachability-tests:
    needs: deploy
    name: Reachability Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      PULUMI_STACK: ${{ inputs.pulumi-stack }}
      PULUMI_CONFIG_SOURCE: ../../${{ inputs.pulumi-config-source }}
      PULUMI_STACK_CONFIG: ../../test-project/Pulumi.${{ inputs.pulumi-stack }}.yaml
    steps:
      - uses: actions/checkout@v3
      - uses: awalsh128/cache-apt-pkgs-action@latest
        name: Install system dependencies
        with:
          packages: wireguard-tools
      - uses: ./.github/actions/prepare-pulumi
        name: Prepare pulumi environment
        with:
          create-stack: false
          google-credentials: ${{ secrets.google-credentials }}
          template: ${{ inputs.template }}
      - uses: actions/download-artifact@v3
        with:
          name: pulumi-configuration-${{ env.PULUMI_STACK }}
          path: test-project
      - run: go test -timeout=25m -v -parallel=10 -tags=connectivity,linux
        name: Run reachability tests
        working-directory: internal/integration
        env:
          HCLOUD_TOKEN: ${{ secrets.hcloud-token }}
          GITHUB_TOKEN: ${{ secrets.github-token }}

  main-integration-tests:
    needs:
      - deploy
      - reachability-tests
    name: Main Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      PULUMI_STACK: ${{ inputs.pulumi-stack }}
      PULUMI_CONFIG_SOURCE: ../../${{ inputs.pulumi-config-source }}
      PULUMI_STACK_CONFIG: ../../test-project/Pulumi.${{ inputs.pulumi-stack }}.yaml
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/prepare-pulumi
        name: Prepare pulumi environment
        with:
          create-stack: false
          google-credentials: ${{ secrets.google-credentials }}
          template: ${{ inputs.template }}
      - uses: actions/download-artifact@v3
        with:
          name: pulumi-configuration-${{ env.PULUMI_STACK }}
          path: test-project
      - run: go test -v -timeout=25m -parallel=10 -tags=kubernetes
        name: Run main integration tests
        working-directory: internal/integration
        env:
          HCLOUD_TOKEN: ${{ secrets.hcloud-token }}
          GITHUB_TOKEN: ${{ secrets.github-token }}

  cleanup:
    name: Cleanup
    needs:
      - main-integration-tests
    runs-on: ubuntu-latest
    if: always()
    env:
      PULUMI_STACK: ${{ inputs.pulumi-stack }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/prepare-pulumi
        name: Prepare pulumi environment
        with:
          create-stack: false
          google-credentials: ${{ secrets.google-credentials }}
      - uses: actions/download-artifact@v3
        with:
          name: pulumi-configuration-${{ env.PULUMI_STACK }}
          path: test-project
          template: ${{ inputs.template }}
      - name: Cancel previous run (if failed)
        run: pulumi cancel -s ${{ env.PULUMI_STACK }} -y
        working-directory: test-project
        env:
          HCLOUD_TOKEN: ${{ secrets.hcloud-token }}
          GITHUB_TOKEN: ${{ secrets.github-token }}
      - name: Cleanup
        uses: pulumi/actions@v4
        with:
          command: destroy
          stack-name: ${{ env.PULUMI_STACK }}
          remove: true
          cloud-url: gs://spigell-infra-phkh-pulumi-states
          work-dir: test-project
        env:
          HCLOUD_TOKEN: ${{ secrets.hcloud-token }}
          GITHUB_TOKEN: ${{ secrets.github-token }}
