name: The reusable workflow for deploying clusters
run-name: Cluster ${{ inputs.pulumi-stack }} by @${{ github.actor }}

on:
  workflow_call:
    inputs:
      pulumi-stack:
        required: true
        type: string
      pulumi-config-source:
        required: true
        type: string
    secrets:
      google-credentials:
        required: true
      hcloud-token:
        required: true
      github-token:
        required: true

jobs:
  deploy:
    name: Deploy Cluster
    runs-on: ubuntu-latest
    env:
      PULUMI_STACK: ${{ inputs.pulumi-stack }}
      PULUMI_CONFIG_SOURCE: ${{ inputs.pulumi-config-source }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/prepare-pulumi
        name: Prepare pulumi environment
        with:
          create-stack: true
          google-credentials: ${{ secrets.google-credentials }}
      - uses: actions/upload-artifact@v3
        with:
          name: Pulumi configuration for stack
          path: "test-project/Pulumi.${{ env.PULUMI_STACK }}.yaml"
      - name: Preview
        run: pulumi preview -s ${{ env.PULUMI_STACK }} -v=9 --color=always --logtostderr 2> preview.log
        working-directory: test-project
        env:
          HCLOUD_TOKEN: ${{ secrets.hcloud-token }}
          GITHUB_TOKEN: ${{ secrets.github-token }}
      - name: Up
        run: pulumi up -yf -s ${{ env.PULUMI_STACK }} -v=9 --color=always --logtostderr 2> up.log
        working-directory: test-project
        env:
          HCLOUD_TOKEN: ${{ secrets.hcloud-token }}
          GITHUB_TOKEN: ${{ secrets.github-token }}
      - name: Gather logs
        uses: actions/upload-artifact@v3
        with:
          name: Pulumi configuration for stack
          path: "test-project/*.log"

  external-ssh-reachability:
    needs: deploy
    name: SSH Reachability
    runs-on: ubuntu-latest
    env:
      PULUMI_STACK: ${{ inputs.pulumi-stack }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/prepare-pulumi
        name: Prepare pulumi environment
        with:
          create-stack: false
          disable-go-deps: true
          google-credentials: ${{ secrets.google-credentials }}
      - run: make pulumi-ssh-check
        working-directory: test-project

  wireguard-reachability:
    needs: deploy
    name: Wireguard Reachability
    runs-on: ubuntu-latest
    env:
      PULUMI_STACK: ${{ inputs.pulumi-stack }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/prepare-pulumi
        name: Prepare pulumi environment
        with:
          create-stack: false
          disable-go-deps: true
          google-credentials: ${{ secrets.google-credentials }}
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: wireguard-tools
      - run: make pulumi-wireguard-check
        working-directory: test-project

  cleanup:
    name: Cleanup
    needs:
      - wireguard-reachability
      - external-ssh-reachability
    runs-on: ubuntu-latest
    if: always()
    env:
      PULUMI_STACK: ${{ inputs.pulumi-stack }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/prepare-pulumi
        name: Prepare pulumi environment
        with:
          create-stack: false
          google-credentials: ${{ secrets.google-credentials }}
      - uses: actions/download-artifact@v3
        with:
          name: Pulumi configuration for stack
          path: test-project
      - name: Cleanup
        uses: pulumi/actions@v4
        with:
          command: destroy
          stack-name: ${{ env.PULUMI_STACK }}
          remove: true
          cloud-url: gs://spigell-infra-phkh-pulumi-states
          work-dir: test-project
        env:
          HCLOUD_TOKEN: ${{ secrets.hcloud-token }}
          GITHUB_TOKEN: ${{ secrets.github-token }}
